.hero {
  padding-top: 73px;
}

.section {
  padding-top: 72px;
  padding-bottom: 72px;
}

.project-list {
  gap: 50px;
}

@media (max-width: 680px) {
  .hero {
    padding-top: 58px;
  }

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .project-list {
    gap: 32px;
  }
}
